In [1]:
import pandas as pd
df = pd.read_csv("pokemon_data.csv")
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [2]:
df.loc[:, "Name"]

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [26]:
looking_names = ["Bulbasaur", "Venusaur"]
df.loc[df["#"] == 553]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
613,553,Krookodile,Ground,Dark,95,117,80,65,70,92,5,False

In [30]:
df.groupby(by = ["Name"]).mean()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,
Abomasnow,460,90,92,75,92,85,60,4,False
AbomasnowMega Abomasnow,460,90,132,105,132,105,30,4,False
Abra,63,25,20,15,105,55,90,1,False
Absol,359,65,130,60,75,60,75,3,False
AbsolMega Absol,359,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...
Zoroark,571,60,105,60,120,60,105,5,False
Zorua,570,40,65,40,80,40,65,5,False
Zubat,41,40,45,35,30,40,55,1,False
Zweilous,634,72,85,70,65,70,58,5,False
Zygarde50% Forme,718,108,100,121,81,95,95,6,True